# Visual Studio Code
.vscode/
.history/
*.code-workspace

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Build output
dist/
build/
out/

# Temporary files
*.tmp
*.temp
*.bak
*.swp
*.swo
*.DS_Store